*, html {
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
}

body {
  font-size: 100%;
  line-height: 1;
  background: #fff;
  font-family:"Verdana", Verdana, Arial;
  line-height: 1.2;
  color: #0f116d;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

h1 {
  text-indent: -5000px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: right top;
  width: 231px;
  height: 66px;
  float: left;
}

#nav {
  float: right;
  padding-right: 20px;
  list-style: none;
}

#nav li {
  float: left;
  margin-left: -20px;
  width: 150px;
  height: 35px; /*58 - 23*/
  background-image: url(../images/tab.png);
  text-align: center;
  padding-top: 23px;
}

#nav li:hover {
  background-image: url(../images/tabdown.png);
}

#nav li a {
  text-decoration: none;
  color: #000;
}

#graphInfo {
  position: absolute;
  left: 260px;
  display: inline;
  z-index: -1;
}

#cont {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 58px 20px 20px 20px;
  background-color: #c6d1df;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#canvas {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 60px 25px 25px 25px;
  background-color: #fff;
  overflow: hidden;
  float: left;
}

#footer {
  position: fixed;
  bottom: 0;
  height: 35px;
  z-index: 1000;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  width: 100%;
}

#chat { float: right; }

#chat hr{
  margin: 6px 0 4px 0;
  background-color: #ccc;
  height: 1px;
  border: 0;
}

.btnChatOnline, .btnChatOffline, .btnChatWriting {
	font-weight: bold;
	margin-right: 30px;
	text-decoration: none;
	color: #333;
	padding: 7px 8px 7px 25px;
	width: 240px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 0;
	border-bottom: 0;
	text-align: left;
	cursor: pointer;
}

.btnChatOnline {
	background: #f0f0f0 url(../images/chatonline.png) no-repeat +5px center;
}

.btnChatOffline {
	background: #f0f0f0 url(../images/chatoffline.png) no-repeat +5px center;
}

.btnChatWriting {
	background: #f0f0f0 url(../images/chatwriting.png) no-repeat +5px center;
}
