server.document-root = "./"

server.port = 1338

mimetype.assign = (
                    ".html" => "text/html",
                    ".txt" => "text/plain",
                    ".jpg" => "image/jpeg",
                    ".png" => "image/png",
                    ".css" => "text/css",
                    ".js" => "text/javascript"
                  )

cgi.assign = (".php" => "/usr/bin/php5")

server.modules = ("mod_rewrite", "mod_cgi")

index-file.names = ( "index.html" )
